In [1]:
import sqlite3

In [2]:
#connection a ()
connexion = sqlite3.connect('jobs.db')

In [3]:
# cursor()
t= () # un tuple vide sans element

In [4]:
cursor = connexion.cursor()

In [5]:
query = "SELECT * FROM recent_grads;"

In [6]:
#executer la variable SQL situer dans la variable query 
cursor.execute(query)

In [7]:
results = cursor.fetchall()

In [8]:
print(results[0:5])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

In [9]:
connexion.close()

In [10]:
# Calculer une estimation de la population en 2050
 
import pandas as pd 
import sqlite3
import math

In [11]:
# Connexion à la base de données factbook.db
connexion = sqlite3.connect('factbook.db')

In [12]:
# Lecture des données de la table facts dans un tableau pandas
a = pd.read_sql_query('SELECT * FROM facts;', con = connexion)

In [13]:
# Calcul théorique:
# N = N0*e**(rt)
# N = population finale
# N0 = population initiale
# e = constante
# r = taux de croissance annuelle
# t = nombre d'années entre l'estimation et l'initiale
# 5000 habitants, taux de croissance t de 4% 2015 --> 2050, donc t = 35
# N = 5000 * e ** (0.04 * 35)
 
#définition de la fonction qui calcule une estimation de la population en 2015 suivant le calcul ci-dessus:

def pop_growth(x):
    
     return x['population'] * math.e ** ((x['population_growth']/100)* 35)

In [14]:
# Application de la fonction pop_growth à chaque pays + création d'une colonne pop_2050 contenant les résultats
a['pop_2050'] = a.apply(lambda row: pop_growth(row), axis=1)

In [15]:
# Suppression des lignes contenant des valeurs manquantes
a = a.dropna(axis = 0)

In [16]:
# On filtre les pays qui ont une surface terrestre > 0 et une population > 0
a = a[(a['area_land'] > 0) & (a['population'] > 0)]

In [17]:
# On trie les pays par population décroissante
b = a.sort_values(['pop_2050'], ascending = [False])

In [18]:
# On assigne à la variable b les noms des pays correspondants limités à 10 valeurs
b = b['name'].iloc[0:9]
 
# On affiche le résultat final
print(b)

76                                 India
36                                 China
128                              Nigeria
185                        United States
77                             Indonesia
131                             Pakistan
13                            Bangladesh
23                                Brazil
39     Congo, Democratic Republic of the
Name: name, dtype: object

In [19]:
connexion.close()

In [20]:
# Objectif: Calculer le ratio de la surface terrestre totale sur la surface
# des océans totale appartenant aux pays de la table facts

In [21]:
import sqlite3
import pandas as pd
 
connexion = sqlite3.connect('factbook.db')

In [22]:
# On affiche dans un tableau pandas les sommes des surfaces terrestres et surfaces de l'eau pour chaque pays
a = pd.read_sql_query('SELECT SUM(area_land), SUM(area_water)FROM facts WHERE area_land != "";', con = connexion)

In [23]:
# On affiche le ratio Terre / Mer
print(a['SUM(area_land)']/a['SUM(area_water)'])

0    28.390657
dtype: float64

In [24]:
connexion.close()

In [30]:
import sqlite3
 
connexion = sqlite3.connect('factbook.db')
pop_growth_tuple=connexion.execute("SELECT min(population_growth)FROM facts;").fetchall()
min_population_growth= pop_growth_tuple[0][0]
print(min_population_growth)

0.0

In [32]:
connexion = sqlite3.connect('factbook.db')
pop_dead_tuple=connexion.execute("SELECT max(death_rate)FROM facts;").fetchall()
max_population_dead= pop_dead_tuple[0][0]
print(max_population_dead)

14.89

In [33]:
connexion = sqlite3.connect('factbook.db')
pop_area_land_tuple=connexion.execute("SELECT sum(area_land)FROM facts;").fetchall()
sum_area= pop_area_land_tuple[0][0]
print(sum_area)

128584834

In [35]:
connexion = sqlite3.connect('factbook.db')
pop_area_water_tuple=connexion.execute("SELECT avg(area_water)FROM facts;").fetchall()
moyen_area_water= pop_area_water_tuple[0][0]
print(moyen_area_water)

19067.59259259259

In [40]:
#requette sur plusieur statistique et mise sur des variable differente 
connexion = sqlite3.connect('factbook.db')
pop_tuple=connexion.execute("SELECT count(*), sum(birth_rate), avg(area_water)FROM facts;").fetchall()
count_fact= pop_tuple[0][0]
sum_bird=pop_tuple[0][1]
moyenne_area_water = pop_tuple[0][2]
print(moyenne_area_water,count_fact,sum_bird)

19067.59259259259 261 4406.909999999998